.loadContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loading{
    border: 3px solid #bbb;
    border-top: none;
    border-left: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: round 1.5s infinite;
}

@keyframes round{
    from{
        transform: rotate(-360deg);
    }
}